
/** este es el titulo de la web */
h2{
    font-weight: bold;
    color:grey;
    margin: 30px;
    border: 2px solid black;
    padding: 15px;
}
/** pie de pagina */
p{
    font-weight: bolder;
    color: fuchsia;
    padding: auto;
}
h3{
    font-style: oblique;
    font: bold;
    color: rebeccapurple;
    margin: 30px;
    border: 3px solid salmon;
    padding: 20px;
}
 #Articulos{
    font-style: oblique;
    font-size: medium;
    font: bold;
    color: royalblue;
    margin: 30px;
    border: 3px solid lightseagreen;
    padding: 20px;
 }


